<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Форма обратной связи</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Slab:wght@100;300;500&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'feedback_app/style.css' %}" type="text/css">
</head>
<body>
<div class="container">
            <form method="POST" novalidate>
                {% csrf_token %}
                <div>
                    {% for field in form %}
                    <div class="form-group">
                        {{field.label_tag}}
                        <div class="enter">
                            {{field}}
                        </div>

                        {% if field.errors %}
                        {% for error in field.errors %}
                        <div class="error">
                            {{error}}
                        </div>
                        {% endfor %}
                        {% endif %}
                    <br>
                    </div>
                    {% endfor %}
                </div>
                <button type="submit">Отправить</button>
            </form>
</div>
</body>
</html>