<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фидбек</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Slab:wght@100;300;500&family=Roboto:wght@400;500;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'feedback_app/style.css' %}" type="text/css">

</head>
<body>

{% for p in posts %}
<div class="fl">
    <h1 class="feedback">
        {{ p.fio }}
    </h1>
    <br>
    <h3 class="feedback">
        {{p.country}}
    </h3>
    <h4 class="feedback">
        {{ p.rating }}
    </h4>
    <br>
    <h2 class="feedback">
        {{ p.feedback }}
    </h2>
</div>
</div>
{% endfor %}

<form action="{% url 'feedback_form' %}" target="_self">
    <button>Добавить обратную связь</button>
</form>

</body>
</html>